:root {
    --text-color: #333;
    --background-color: #fff;
    --second-color: #F5F5F5;
}

.theme-dark {
    --text-color: #eee;
    --background-color: #333;
    --second-color: rgba(30, 33, 36, 0.9);
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

@font-face {
    font-family: SanFrancisco;
    src: url('../fonts/SF-Pro-Text-Regular.otf');
}

#privacy-policy-container {
    color: var(--text-color);
    padding-bottom: 20vh;
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 800px;
    margin: 20px auto;
}

#terms-container {
    color: var(--text-color);
    padding-bottom: 20vh;
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 800px;
    margin: 20px auto;
}

#contact-container {
    color: var(--text-color);
    padding-bottom: 20vh;
    padding-top: 10vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 800px;
    margin: 20px auto;
}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
}

    .switch:checked {
        background-color: rgba(236, 72, 153, 1);
    }

    .switch::before {
        position: absolute;
        content: "";
        left: calc(1.5rem - 1.6rem);
        top: calc(1.5rem - 1.6rem);
        display: block;
        height: 1.6rem;
        width: 1.6rem;
        cursor: pointer;
        border: 1px solid rgba(100, 116, 139, 0.527);
        border-radius: 9999px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
        transition: all .3s ease;
    }

    .switch:checked:before {
        transform: translateX(100%);
        border-color: rgba(236, 72, 153, 1);
    }


@font-face {
    font-family: December;
    src: url(../fonts/December.otf);
}

@font-face {
    font-family: HeartWarming;
    src: url('../fonts/Heart Warming Font by Situjuh (7NTypes).otf');
}

@font-face {
    font-family: AlarmClock;
    src: url('../fonts/alarm clock.ttf');
}

@font-face {
    font-family: SanFrancisco;
    src: url('../fonts/SF-Pro-Text-Regular.otf');
}

body {
    font-family: SanFrancisco;
    margin: 0;
}

h1 {
    color: var(--text-color);
    text-align: center;
    margin-top: 4vh;
    font-family: HeartWarming;
    cursor: pointer;
    font-size: 5vw;
}

    h1 a {
        text-decoration: none;
        color: var(--text-color);
    }

        h1 a:hover {
            font-weight: bold;
            color: var(--text-color);
        }


.main_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

.row_non {
    margin-top: 1vh;
    width: 100vw;
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}


footer {
    background-color: var(--second-color);
    width: 100vw;
    height: 80px;
    color: var(--text-color);
    position: fixed;
    text-align: center;
    bottom: 0;
    padding-top: 10px;
    font-size: 10pt;
}

    footer ul {
        list-style: none;
    }

    footer li {
        display: inline-block;
        margin: 0 10px;
    }

    footer a {
        text-decoration: none;
    }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 4px;
    background-color: var(--second-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20vh;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
}

.letter-input {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
    color: black;
}

.attempt {
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-bottom: 2vh;
}

.letter {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.correct {
    background-color: #a1e1a1;
}

.partial {
    background-color: #e1e1a1;
}

#start_container {
    display: flex;
    flex-direction: column; /* Dodaj pionowy układ */
    align-items: center; /* Wyśrodkuj elementy w pionie */
    margin-bottom: 20px;
}

#ready {
    color: var(--text-color);
    font-size: 30pt;
}

#timer {
    color: var(--text-color);
    font-size: 50pt;
    font-family: AlarmClock;
    box-shadow: 10px black;
    display: block;
    flex: 1;
    display: none;
    justify-content: center;
}


#start_button {
    margin-top: 5vw;
}

#start_button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #start_button:hover {
        background-color: #218838; /* ciemniejszy odcień zielonego po najechaniu kursorem */
    }

.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link {
    color: var(--text-color);
}

    .nav-link:hover {
        color: var(--text-color);
    }

h2 {
    color: var(--text-color);
}

.letter-input.flash-red {
    background-color: red;
    transition: 0.5s;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 5px;
}



.letter-input-container {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px; /* lub inny odpowiedni rozmiar */
    flex-wrap: wrap;
}

.letter-input {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
}

#submit_button {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #28a745;
    transition: background-color 0.3s ease;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

#backspace_button {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #880808;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}



.keyboard-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-key {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    color: black;
}

    .keyboard-key:hover {
        background-color: gray;
        border: 2px solid black;
    }

    .keyboard-key:active {
        background-color: dimgray;
    }

    .keyboard-key:first-child {
        margin-left: 0;
    }

    .keyboard-key:last-child {
        margin-right: 0;
    }

.testowa_klasa {
    display: flex;
    flex-direction: row;
}

#countdown {
    visibility: visible;
    color: var(--text-color);
    font-family: HeartWarming;
    padding-top: 20px;
}



/* Dodaj tę sekcję do pliku CSS */
@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.countdown-animation {
    animation: scale 1s linear;
}

.game-over-message {
    color: var(--text-color);
    text-align: center;
}

/* GameStyle.css */
.game-over-message {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.game-over-message-content {
    display: inline-block;
    text-align: left;
}

.game-over-message h2 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-over-message h3 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-over-message h4 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.game-over-message p {
    color: var(--text-color);
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-over-message ol {
    list-style-type: none;
    padding-left: 20px;
    font-size: 18px;
}

.highlight {
    color: #e74c3c;
    font-weight: bold;
}

/* GameStyle.css */
.gold {
    color: #ffd700;
}

.silver {
    color: #c0c0c0;
}

.bronze {
    color: #cd7f32;
}



@media screen and (max-width: 768px) {
    .keyboard-row {
        flex-wrap: wrap;
    }

    .keyboard-key {
        width: 30px;
        height: 30px;
        font-size: 18px;
        margin: 3px;
        color: black;
    }

    #submit_button, #backspace_button {
        width: 30px;
        height: 30px;
        font-size: 7px;
        margin: 3px;
    }

    #submit_button {
        width: 100px;
    }
}


#stats {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px; /* Added border-radius for table */
    overflow: hidden; /* Added overflow hidden to make table rounded */
}


    #stats th {
        text-align: center;
    }

    #stats tbody td {
        padding: 8px;
        border-bottom: 1px solid #f1f1f1;
        background-color: rgba(128, 128, 128, 0.6); /* Added transparency */
        color: white; /* Changed text color for better readability */
        text-align: center;
    }

    #stats tbody tr {
        background-color: rgba(105, 105, 105, 0.6); /* Added transparency */
    }

        #stats tbody tr:nth-child(even) {
            background-color: rgba(248, 248, 248, 0.6); /* Added transparency */
        }


.afterwin {
    width: 170px;
    font-size: 12pt;
    height: 5vh;
    max-height: 10vw;
    white-space: nowrap;
    border-radius: 7px;
    background-color: lightgreen;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* style.css */

/* style.css */

/* Styl dla selecta */
#language-select {
    width: 150px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #333333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    background-image: linear-gradient(45deg, transparent 50%, #007bff 50%), linear-gradient(-45deg, transparent 50%, #007bff 50%);
    background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}

    #language-select:focus {
        outline: none;
        border-color: #007bff;
        background-image: linear-gradient(45deg, #007bff 50%, transparent 50%), linear-gradient(-45deg, #007bff 50%, transparent 50%);
    }

    /* Styl dla opcji */
    #language-select option {
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 8px 12px;
        color: #333333;
        background-color: #ffffff;
    }


/* Additional styles for the settings page */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    color: var(--text-color);
}

    .settings-container h2 {
        margin-bottom: 20px;
    }

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

    #options span {
        font-size: 18px;
    }

.theme-switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-select-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Additional styles for the settings page */
.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
}

    .option-container span {
        font-size: 18px;
        font-weight: 600;
    }

.theme-switch-container i {
    cursor: pointer;
}

.switch-container {
    display: flex;
    align-items: center;
}

.fa-sun {
    padding-right: 10px;
}

.fa-moon {
    padding-left: 10px;
}

.stats-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

canvas {
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

.stats-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.stat-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .stat-item h3 {
        font-size: 1.1rem;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--text-color);
    }

    .stat-item p {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--text-color);
    }


/* Chart styles */
#attemptsChart {
    max-width: 800px;
    margin: 20px auto;
}

.chart-title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 10px;
}

.attempts-chart-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#definition {
    display: none;
    text-align: center;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
}

#logintoplay {
    display:block;
    text-align: center;
    font-size: 20pt;
    margin:auto;
    padding-top:100px;
    padding-bottom:100px;
}