


@font-face {
    font-family: December;
    src: url(../fonts/December.otf);
}

@font-face {
    font-family: HeartWarming;
    src: url('../fonts/Heart Warming Font by Situjuh (7NTypes).otf');
}

@font-face {
    font-family: AlarmClock;
    src: url('../fonts/alarm clock.ttf');
}

body {
    background-color: #36393F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 4vh;
    font-family: HeartWarming;

    cursor: pointer;
    font-size: 5vw;
}

    h1 a {
        text-decoration: none;
        color: white;
    }

        h1 a:hover {
            color: white;
        }


.main_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
   
}

.row_non {
    margin-top: 1vh;
    width: 100vw;
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}


footer {
   
    background-color: #1e2124;
    width: 100vw;
    height: 80px;
    color: white;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding-top: 10px;
    font-size:10pt;
}
    footer ul {
        list-style: none;

    }

    footer li {
 
    display: inline-block;
    margin: 0 10px;

    }
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgba(30, 33, 36, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;



}

.letter-input {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
    color:black;
}

.attempt {
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-bottom: 2vh;
}

.letter {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

    

}

.correct {
    background-color: #a1e1a1;
}

.partial {
    background-color: #e1e1a1;
}

#start_container {
    display: flex;
    flex-direction: column; /* Dodaj pionowy układ */
    align-items: center; /* Wyśrodkuj elementy w pionie */
    margin-bottom: 20px;

}
#ready {
    color: white;
    font-size: 30pt;
}
#timer {
    color: white;
    font-size: 50pt;
    font-family: AlarmClock;
    box-shadow: 10px black;
    display:block;

    flex:1;
    display:none;
    justify-content:center;

   
}


#start_button {
   margin-top:5vw;
}
#start_button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #28a745; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    #start_button:hover {
        background-color: #218838; /* ciemniejszy odcień zielonego po najechaniu kursorem */
    }

h2
{
    color:white;
}

.letter-input.flash-red {
    background-color: red;
    transition:0.5s;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 5px;
 


}



.letter-input-container {
    position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px; /* lub inny odpowiedni rozmiar */
    flex-wrap: wrap;
}

.letter-input {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
}

#submit_button {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #28a745;
    transition: background-color 0.3s ease;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
#backspace_button {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #880808;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}



.keyboard-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-key {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

    .keyboard-key:hover {
        background-color: gray;
        border:2px solid black;
    }

    .keyboard-key:active {
        background-color: dimgray;
    }

    .keyboard-key:first-child {
        margin-left: 0;
    }

    .keyboard-key:last-child {
        margin-right: 0;
    }

    .gowno
    {
        display:flex;
        flex-direction:row;
    }
#countdown {
    visibility:hidden;
    color: white;
    font-family: HeartWarming;
}



/* Dodaj tę sekcję do pliku CSS */
@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.countdown-animation {
    animation: scale 1s linear;
}
.game-over-message
{
    color:white;
    text-align:center;
}

@media screen and (max-width: 768px) {
    .keyboard-row {
        flex-wrap: wrap;
    }

    .keyboard-key {
        width: 30px;
        height: 30px;
        font-size: 18px;
        margin: 3px;
    }

    #submit_button, #backspace_button {
        width: 30px;
        height: 30px;
        font-size: 7px;
        margin: 3px;
    }
    #submit_button
    {
        width:100px;
    }
}


#stats {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px; /* Added border-radius for table */
    overflow: hidden; /* Added overflow hidden to make table rounded */
}

    
    #stats th {
        text-align: center;
    }

    #stats tbody td {
        padding: 8px;
        border-bottom: 1px solid #f1f1f1;
        background-color: rgba(128, 128, 128, 0.6); /* Added transparency */
        color: white; /* Changed text color for better readability */
        text-align:center;
    }

    #stats tbody tr {
        background-color: rgba(105, 105, 105, 0.6); /* Added transparency */
    }

        #stats tbody tr:nth-child(even) {
            background-color: rgba(248, 248, 248, 0.6); /* Added transparency */
        }
