@font-face {
    font-family: December;
    src: url(../fonts/December.otf);
}

@font-face {
    font-family: HeartWarming;
    src: url('../fonts/Heart Warming Font by Situjuh (7NTypes).otf');
}

@font-face {
    font-family: AlarmClock;
    src: url('../fonts/alarm clock.ttf');
}

body {
    background-color: #36393F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 4vh;
    font-family: HeartWarming;
    font-size: 80pt;
    cursor: pointer;
}

    h1 a {
        text-decoration: none;
        color: white;
    }

        h1 a:hover {
            color: white;
        }

.gamemode_button {
    width: 20vw;
    border-radius: 7px;
    font-size: 2vw;
    background-color: #1e2124;
    color: white;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .gamemode_button:hover {
        background-color: #4b4b4b;
    }

.main_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

.row_non {
    margin-top: 1vh;
    width: 100vw;
    text-align: center;
}

#rank_button {
    margin-top: 40vh;
}

#settings_button {
    background-color: #1e2124;
    border: 0;
    width: 5vw;
    margin-left: 0.2vw;
    font-size: 2vw;
    cursor: pointer;
    text-align: center;
}

    #settings_button:hover {
        background-color: #4b4b4b;
    }

/* Stopka */
footer {
    margin-top: 2vh;
    background-color: #1e2124;
    width: 100vw;
    height: 7vh;
    color: white;
    position: fixed;
    bottom: 0;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #4b4b4b;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    a:hover {
        color: #007bff;
    }

.menu {
    justify-content: right;
    display: flex;
    width: 80vw;
}

#login_button {
    margin-top: 2vh;
    color: white;
    background-color: #1e2124;
    border-radius: 7px;
    padding: 15px 32px;
    cursor: pointer;
    border: none;
}

    #login_button:hover {
        background-color: #4b4b4b;
    }

/* Login and Register Forms */
.login-container, .register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button [type="submit"] {
    background-color: #6b6b6b;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
        background-color: #4b4b4b;
    }

/* Ranking */
.ranking {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 4px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ranking_table {
    width: 100%;
    border-collapse: collapse;
}

    .ranking_table thead th {
        background-color: #f1f1f1;
        text-align: left;
        padding: 8px;
    }

    .ranking_table tbody td {
        padding: 8px;
        border-bottom: 1px solid #f1f1f1;
    }

    .ranking_table tbody tr:nth-child(even) {
        background-color: #f8f8f8;
    }

.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}







.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top:5vw;
    
}

.letter-input {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
}

.attempt {
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-bottom:5px;
    margin-right:5vw;
}

.letter {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 3vw;
    
}

.correct {
    background-color: #a1e1a1;
}

.partial {
    background-color: #e1e1a1;
}

#start_container {
    display: flex;
    flex-direction: column; /* Dodaj pionowy układ */
    align-items: center; /* Wyśrodkuj elementy w pionie */
    margin-bottom: 20px;
    padding-top: 5vw;
}
#ready
{
    color:white;
    font-size:30pt;
    
}
#timer {
    color: white;
    font-size: 30pt;
    font-family:AlarmClock;
}
#start_button {
   margin-top:10vw;
}
h2
{
    color:white;
}

.letter-input.flash-red {
    background-color: red;
    transition:0.5s;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 5vw;
}



.letter-input-container {
    position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 600px; /* lub inny odpowiedni rozmiar */
    flex-wrap: wrap;
}

.letter-input {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 30pt;
}

#submit_button {
    height: 60px;
    
    
    
}
.submit-container {
   

 width:5vw;
   
   
}



