:root {
    --text-color: #333;
    --background-color: #fff;
    --second-color: #F5F5F5;
    --hover-color: #E5E5E5;
}

.theme-dark {
    --text-color: #eee;
    --background-color: #333;
    --second-color: rgba(30, 33, 36, 0.9);
    --hover-color: #4b4b4b;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

@font-face {
    font-family: December;
    src: url(../fonts/December.otf);
}

@font-face {
    font-family: HeartWarming;
    src: url('../fonts/Heart Warming Font by Situjuh (7NTypes).otf');
}

@font-face {
    font-family: SanFrancisco;
    src: url('../fonts/SF-Pro-Text-Regular.otf');
}

@media screen and (min-width:768px) {
    .gamemode_button {
        width: 20vw;
        height: 10vh;
        max-height: 10vw;
        white-space: nowrap;
        border-radius: 7px;
        font-size: 4vw;
        background-color: var(--second-color);
        color: var(--text-color);
        border: none;
        padding: 15px 32px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}


.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link {
    color: var(--text-color);
}

    .nav-link:hover {
        color: var(--text-color);
    }

body {
    font-family: SanFrancisco;
    margin: 0;
}


#logo_text {
    color: var(--text-color);
    text-align: center;
    margin-top: 4vh;
    font-family: HeartWarming;
    font-size: 80pt;
    cursor: pointer;
}

    #logo_text a:hover {
        font-weight: bold;
    }


h1 a {
    text-decoration: none;
    color: var(--text-color);
}

    h1 a:hover {
        color: var(--text-color);
        text-decoration: none;
    }

.gamemode_button {
    width: 20vw;
    height: 10vh;
    max-height: 10vw;
    white-space: nowrap;
    border-radius: 7px;
    font-size: 1vw;
    background-color: var(--second-color);
    color: var(--text-color);
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .gamemode_button:hover {
        background-color: var(--hover-color);
    }

.main_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

.row_non {
    margin-top: 1vh;
    width: 100vw;
    text-align: center;
}

#rank_button {
    margin-top: 30vh;
}

#settings_button {
    background-color: var(--second-color);
    border: 0;
    width: 5vw;
    margin-left: 0.2vw;
    cursor: pointer;
    padding-left: 3.3vh;
    text-align: center;
}

    #settings_button:hover {
        background-color: var(--hover-color);
    }

/* Stopka */
footer {
    margin-top: 2vh;
    background-color: var(--second-color);
    width: 100vw;
    height: 80px;
    color: var(--text-color);
    position: fixed;
    text-align: center;
    bottom: 0;
    padding-top: 10px;
    font-size: 10pt;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #4b4b4b;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

    a:hover {
        color: #007bff;
    }

.menu {
    justify-content: right;
    display: flex;
    width: 80vw;
}

#login_button {
    margin-top: 2vh;
    color: white;
    background-color: #1e2124;
    border-radius: 7px;
    padding: 15px 32px;
    cursor: pointer;
    border: none;
}

    #login_button:hover {
        background-color: #4b4b4b;
    }

/* Login and Register Forms */
.login-container, .register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10vh;
    color: var(--text-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button [type="submit"] {
    background-color: #6b6b6b;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
    }

.ranking {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--second-color);
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

.nav-tabs {
    justify-content: center; /* Center the tabs */
    margin-bottom: 20px;
}

    .nav-tabs .nav-link {
        color: var(--hover-color);
    }

        .nav-tabs .nav-link.active {
            color: black;
            font-weight: bold;
        }

.ranking_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
}

    .ranking_table thead th {
        background-color: var(--hover-color);
        text-align: center;
        padding: 8px;
        font-weight: bold;
        width: 300px;
    }

    .ranking_table tbody td {
        padding: 8px;
        border-bottom: 1px solid #f1f1f1;
        color: var(--text-color);
        text-align: center;
    }

    .ranking_table tbody tr {
        background-color: var(--second-color);
    }

        .ranking_table tbody tr:nth-child(even) {
            background-color: var(--hover-color);
        }


.blinking-cursor {
    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#register-submit {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.odnosnik {
    color: var(--text-color);
    font-weight: bold;
}
