@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>Wordle</title>
    <script defer src="app.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main_page">
        <div class="row_non">
            <h1 id="logo_text"><a href=" @Url.Action("Index")">Wordle</a></h1>
            <div class="login-container">
                <h2>Zaloguj się na konto.</h2>
                <form id="account" method="post">
                    <label asp-for="Input.Email" class="form-label">Email:</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label asp-for="Input.Password" class="form-label">Hasło:</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj</button>

                    @if (!ModelState.IsValid)
                    {
                        <span class="text-danger">Nieprawidłowe dane logowania.</span>
                    }
                    <p>
                        <a class="odnosnik" id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="odnosnik">Zarejestruj się</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="odnosnik">Wyślij jeszcze raz kod aktywacyjny</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
