@{
ViewData["Title"] = "Ranking";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/theme-toggle.js"></script>
</head>

<div class="main_page">
    <div class="row_non">
        <h1 id="logo_text"><a href="@Url.Action("Index")">Wordle</a></h1>

    </div>
 
    <div class="ranking">
        <h2>Ranking graczy</h2>
        <table class="ranking_table">
            <thead>
                <tr>
                    <th>Pozycja</th>
                    <th>Nazwa użytkownika</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody>
                @{
                    // Wstaw tutaj dynamiczne dane na podstawie danych z bazy
                    // Przykładowe dane:
                    List<(int position, string username, int points)> rankingData = new List<(int, string, int)>
                    {
                        (1, "Gracz1", 1020),
                        (2, "Gracz2", 980),
                        (3, "Gracz3", 970),
                    };
                    foreach (var (position, username, points) in rankingData)
                    {
                        <tr>
                            <td>@position</td>
                            <td>@username</td>
                            <td>@points</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script src="js/bootstrap.bundle.js"></script>