@{
ViewData["Title"] = "Ranking";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/theme-toggle.js"></script>
</head>

<div class="main_page">
    <div class="row_non">
        <h1 id="logo_text"><a href="@Url.Action("Index")">Wordle</a></h1>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <div class="ranking">
        <h2>Ranking graczy</h2>
        <table class="ranking_table">
            <thead>
                <tr>
                    <th>Pozycja</th>
                    <th>Nazwa użytkownika</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody id="ranking-tbody">
                <!-- Wiersze tabeli zostaną wypełnione danymi z żądania AJAX -->
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Home/Rank", // Zaktualizuj URL zgodnie z właściwym kontrolerem i akcją
                dataType: "json", // Oczekiwany typ danych to JSON
                success: function (response) {
                    // Kod wykonywany po pomyślnym zakończeniu żądania
                    console.log(response);

                    // Wypełnij tabelę danymi z odpowiedzi
                    var tbody = $("#ranking-tbody");
                    response.forEach(function (player, index) {
                        var row = $("<tr></tr>");
                        row.append($("<td></td>").text(index + 1));
                        row.append($("<td></td>").text(player.userId));
                        row.append($("<td></td>").text(player.points));
                        tbody.append(row);
                    });
                },
                error: function (error) {
                    alert("Wystąpił błąd:");
                }
            });
        });
    </script>

</div>


<script src="js/bootstrap.bundle.js"></script>