<head>
    <link rel="stylesheet" href="~/css/GameStyle.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
</head>

<!-- Dodaj przycisk "Start gry" i planszę gry jako osobne elementy -->
<div class="container">
    <div class="game-container">
        <div class="game-header">
            <h1><a href="@Url.Action("Index")">Wordle</a></h1>
        </div>

        <div id="start_container">
            <div id="timer">00:00</div>
            <div id="ready">Gotowy? </div>
            <button id="start_button" class="btn btn-primary">Start gry</button>
        </div>

       <div class="game-body" style="display: none;">
    <h2>Zgaduj!</h2>
    <div class="input-container">
        <div class="letter-input-container">
            <input class="letter-input" type="text" maxlength="1">
            <input class="letter-input" type="text" maxlength="1">
            <input class="letter-input" type="text" maxlength="1">
            <input class="letter-input" type="text" maxlength="1">
            <input class="letter-input" type="text" maxlength="1">
        </div>
                <div class="submit-container">
                    <button id="submit_button" class="btn btn-primary">Sprawdź</button>
                </div>
    </div>
    <div id="attempts"></div>
</div>


    </div>
</div>


<script src="/js/RankGame.js"></script>
<script>
    // Pobierz elementy HTML do manipulacji
    const startButton = document.getElementById("start_button");
    const gameContainer = document.querySelector(".game-container");
    const gameBody = document.querySelector(".game-body");
    const timer = document.getElementById("timer");
    const ready = document.getElementById("ready");

    // Ukryj element z timerem na początku
    timer.style.display = "none";

    // Dodaj zdarzenie "click" do przycisku "Start gry"
    startButton.addEventListener("click", function () {
        // Ukryj przycisk "Start gry"
        startButton.style.display = "none";
        ready.style.display = "none";

        // Pokaż planszę gry i timer
        gameBody.style.display = "block";
        gameContainer.style.paddingTop = "0"; // Dodaj styl do usuwania marginesu na górze
        timer.style.display = "block";


        // Rozpocznij odliczanie czasu
        let startTime = Date.now();
        setInterval(function () {
            let elapsedTime = Date.now() - startTime;
            let minutes = Math.floor(elapsedTime / 60000);
            let seconds = Math.floor((elapsedTime % 60000) / 1000);
            timer.innerText = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }, 1000);
    });
</script>

