@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>Wordle</title>
    <script defer src="app.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">

    

</head>
<body>
    <div class="menu">
        <button id="login_button">Zaloguj Się</button>


    </div>
    <div class="main_page">

        <div class="row_non">
            <h1><a href=" @Url.Action("Index")" >Wordle</a></h1>

            <div class="register-container">
                <h2>Zarejestruj się w grze Wordle</h2>
                <form id="register-form">
                    <label for="username">Nazwa użytkownika (od 4 do 20 znaków):</label>
                    <input type="text" id="username" name="username" minlength="4" maxlength="20">

                    <label for="email">Adres e-mail:</label>
                    <input type="email" id="email" name="email">

                    <label for="password">Hasło (od 8 do 20 znaków):</label>
                    <input type="password" id="password" name="password" minlength="8" maxlength="20">

                    <label for="confirm-password">Potwierdź hasło:</label>
                    <input type="password" id="confirm-password" name="confirm-password" minlength="8" maxlength="20">

                    <button type="submit">Zarejestruj się</button>
                </form>
                <script src="~/js/site.js"></script>
                Masz już konto? <a href=" @Url.Action("Login")">Zaloguj</a>
            </div>


        </div>

    </div>
  



    <script src="js/bootstrap.bundle.js"></script>
</body>